{
    "data_path": "<BASE_DIR>/data/LSST_KN_BNS/combined_dataset.h5",
    "neg_data_path": "<BASE_DIR>/data/ELASTICC2_TRAIN/negative_dataset.h5",
    "neg_group": "ELASTICC2_TRAIN/optical_data",
    "epochs": 150,
    "batch_size": 128,
    "steps_per_epoch": null,
    "ckpt_path": "<BASE_DIR>/data/model/checkpoints/cls_only",
    "stage_to_jobfs": false,
    "cache_in_memory": true,
    "val_split": 0.2,
    "val_batch_size": 64,
    "val_steps_per_epoch": 500,
    "split_seed": 42,
    "early_stop_patience": 20,
    "early_stop_min_delta": 0.001,
    "resume": "<BASE_DIR>/data/model/checkpoints/cls_only/ALBEF/albef_epoch_19.pth",
    "lr": 5e-5,
    "lr_scheduler": "cosine",
    "weight_decay": 1e-3,
    "grad_clip_norm": 1.0,
    "label_smoothing": 0.1,
    "warmup_epochs": 5,
    "min_lr": 1e-6,
    "num_workers": 8,
    "pin_memory": 1,
    "persistent_workers": 1,
    "prefetch_factor": 4,
    "n_ref": 64,
    "ref_start": -0.3,
    "ref_end": 0.6,
    "ref_dim": 64,
    "enc_dim": 64,
    "proj_dim": 128,
    "fusion_attn_dim": null,
    "fusion_hidden_dim": null,
    "fusion_dropout": 0.4,
    "temp_init": 0.07,
    "temp_final": 0.07,
    "temp_min": 0.01,
    "temp_max": 100,
    "temp_schedule": "fixed",
    "gw_dropout": 0.5,
    "opt_dropout": 0.3,
    "proj_dropout": 0.0,
    "itc_weight": 0.0,
    "cls_weight": 1.0,
    "cls_pos_weight": 1.0,
    "cls_neg_weight": 1.0,
    "cls_extra_neg_weight": 0.5,
    "cls_ramp_epochs": 0,
    "itc_decay_start_epoch": 0,
    "itc_decay_epochs": 0,
    "itc_decay_ratio": 0.0,
    "itc_label_smoothing": 0.0,
    "hard_neg_start_epoch": 0,
    "hard_neg_ramp_epochs": 10,
    "cls_start_epoch": 0,
    "mask_itc": false,
    "use_lightweight_gw": true,
    "gw_aug_noise": 0.05,
    "gw_aug_jitter": 0.02,
    "gw_aug_dropout": 0.1,
    "feature_dropout": 0.1,
    "opt_aug_noise": 0.05,
    "opt_aug_time_jitter": 0.01,
    "opt_aug_dropout": 0.05,
    "opt_aug_band_dropout": 0.05
}
